:root {
  --subtitle-1-18-font-family: "Poppins-SemiBold", Helvetica;
  --subtitle-1-18-font-weight: 600;
  --subtitle-1-18-font-size: 18px;
  --subtitle-1-18-letter-spacing: 0px;
  --subtitle-1-18-line-height: 26px;
  --subtitle-1-18-font-style: normal;
}
